# Ignorar entregables locales de Alan para evitar duplicar en el repositorio remoto
AlanGarcia_2025-1403_Laboratorio_Seguridad_FortiGate.md
AlanGarcia_2025-1403_Laboratorio_Seguridad_FortiGate.pdf
AlanGarcia_2025-1403_Laboratorio_Seguridad_FortiGate.zip
